{% extends 'base.html.twig' %}

{% block title %}
    {{ 'action_show_details'|trans({'%id%': Advertisement.id|default('')}) }}
{% endblock %}

{% block body %}
    {% if Advertisement is defined and Advertisement|length %}
        <h1>{{ Advertisement.title }}</h1>
        <small>{{ Advertisement.updatedAt|date }}</small>
        <p>{{ Advertisement.content }}</p>

            {% if is_granted('ROLE_ADMIN') %}
                <div>
                    <a class="btn btn-warning" href="{{ url('Advertisement_edit', {id: Advertisement.id}) }}" title="{{ 'action_edit'|trans }}">
                        {{ 'action_edit'|trans }}
                    </a>
                    <a class="btn btn-danger" href="{{ url('Advertisement_delete', {id: Advertisement.id}) }}"
                       title="{{ 'action_delete'|trans }}">
                        {{ 'action_delete'|trans }}
                    </a>
                </div>
            {% endif %}

        <p>
            <a href="{{ url('Advertisement_index') }}" title="{{ 'action_back_to_list'|trans }}">
                {{ 'action_back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message_item_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}
